body {
    background: #00cc99;
}

/*--------------------------------------------------------Button CSS*/
#input-button{
position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(125%, -50%);
}

/*--------------------------------------------------------Animated form CSS*/
.search-wrapper {
    background: #00cc99;
    border-radius: 20px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
    background-color: darkgreen;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-wrapper.focused {
    width: 300px;
}

.search-wrapper.focused input {
    padding: 0 40px 0 13px;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    left: -150px
}

.search-wrapper input {
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    height: 40px;
    width: 0;
    overflow: hidden;
    font-weight: 100;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: 275ms ease;
    transition: 275ms ease;
}

.search-wrapper input::-webkit-input-placeholder {
    color: #cccccc;
}

.search-wrapper input::-moz-placeholder {
    color: #cccccc;
}

.search-wrapper input:-ms-input-placeholder {
    color: #cccccc;
}

.search-wrapper input::placeholder {
    color: #cccccc;
}

.search-wrapper i {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%;
    right: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*------------------------------------------------------LOADER*/
h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: .5;
	font-family: sans-serif;
  color: #fff;
}
#loader {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
}
#loader div {
	width: 20px;
  height: 20px;
	background: #FFF;
  border-radius: 50%;
  position: absolute; 

}
#d1 { animation: animate 2s linear infinite;}
#d2 { animation: animate 2s linear infinite -.4s; }
#d3 {animation: animate 2s linear infinite -.8s; }
#d4 { animation: animate 2s linear infinite -1.2s; } 
#d5 { animation: animate 2s linear infinite -1.6s; }
@-webkit-keyframes animate {
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}